.boss_container {
    position: absolute;
    z-index: 200;
    width: 370px;
    height: 205.5px;
}
.boss_main_img{
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.bs_loves_explosion{
    mix-blend-mode: screen;
    width : 5px;
    height : 5px;
    position : absolute;
    z-index: 300;
}
.blue_robbanas{
    mix-blend-mode: screen;
    position: absolute;
    width:  5px;
    height: 5px;
    border-radius: 15px;
    z-index: 300;
}
.villam1{
    mix-blend-mode: screen;
    width: 150px;
    position: absolute;
    z-index: 10;
    border-radius: 50px;
}
.villam2{
    mix-blend-mode: screen;
    position: absolute;
    width: 200px;  
    border-radius: 130px;
    z-index: 20;
}

.robbanas_y , .robbanas_x{
    position: absolute;
    z-index: 220;
}
.robbanas_x{ 
    mix-blend-mode: screen;
    filter: contrast(1.1) saturate(1.2) brightness(1.1); 
    height : 250;
    border-radius: 80;
    border-radius: 30px;    
    height: 50px;
}
.robbanas_z{
    position: absolute;
    z-index: 250;
}
.atom_talalat{
    position: absolute;
    z-index: 170;
    border-radius: 70px;
}

.tuzijatek{
    position: absolute;
    width: 500px;  
}

.asteroida_container{
    position: absolute;
    z-index: 350;
}
.asteroid_img{
    width: 100%;
}

