html, body {
    min-width: 1200px;
    min-height: 750px;    
    min-height: 100%;
    height: 100%;
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

body {
    background: #030000;
    background: linear-gradient(180deg,rgba(3, 0, 0, 1) 0%, rgba(0, 0, 3, 1) 48%, rgba(1, 1, 18, 1) 73%, rgba(2, 2, 26, 1) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.urhajo {
    position: absolute;
    z-index: 150; 
}


.urhajo_img {
   position: absolute; 
   z-index: 150;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}

.bazis {
    height: 70px;
    width:65px;  
    position: absolute;
    bottom: 0; 
    z-index: 200;  
}    
.bazis_img {   
    position: absolute; 
    top: 50%;           
    left: 50%;          
    height: 100%;       
    width: 100%;        
    transform: translate(-50%, -50%); 
    z-index: 200;
}

.tracking_lazer_lovedek {
    position: absolute;
    z-index: 300;   
    background:rgb(255, 213, 0);
    box-shadow: 2px 2px 4px rgba(255, 234, 0, 0.772);
    -webkit-box-shadow: 2px 2px 4px rgba(255, 234, 0, 0.772);
    border-radius: 2px;
}

.homing_missile {
    position: absolute;
    z-index: 300;
    height: 80px;
    width: 10px;
    background: rgba(0,0,0,0);
}
.missile_img { 
    position: absolute;   
    height: 80%;
}
.missile_fire_img {    
    position: absolute;
    bottom: 0;
    z-index: 300;
    height: 20%;
}

.locked {
    --s: 25px; 
    border: 3px solid #da000f;     
    
    mask:
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0)
      0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
    
    -webkit-mask:
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0)
      0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
}

.robbanas {
    mix-blend-mode: screen;
    position: absolute;
    z-index: 50;
}

.atomic {
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-left: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.atomic_felirat {
    float: right;
    margin-right: 10px;
}

.counter_tuz {
    position: absolute !important;
    z-index: 220;
    border-radius: 3px;
}

.counter_tuz_var0 {   
    box-shadow: 0px -3px 10px 3px rgba(255, 219, 120, 0.8);
    -webkit-box-shadow: 0px -3px 10px 3px rgba(255, 219, 120, 0.8);
    background: rgb(255, 172, 38);
    width: 7px;
    height: 7px;   
    position: absolute;
}

.counter_tuz_var1 {
    box-shadow: 0px -3px 10px 3px rgba(250, 243, 144, 0.8);
    -webkit-box-shadow:  0px -3px 10px 3px rgba(250, 243, 144, 0.8);
    background: rgb(248, 255, 41);
    width: 7px;
    height: 13px;        
    position: absolute !important;
}

.counter_tuz_var2 {
    box-shadow: 0px -3px 10px 3px rgba(181, 254, 226, 0.8);
    -webkit-box-shadow: 0px -3px 10px 3px rgba(181, 254, 226, 0.8);
    background: rgb(22, 255, 193);
    width: 7px;
    height: 13px;          
    position: absolute;
}

.counter_tuz_var3 {
    box-shadow: 0px -2px 10px 3px rgba(142, 180, 254, 0.8);
    -webkit-box-shadow: 0px -2px 10px 3px rgba(142, 180, 254, 0.8);
    background: rgb(107, 142, 255);
    width: 6px;
    height: 24px;           
    position: absolute;
}

.bomba {
    position: absolute;
    box-shadow: 4px 4px 4px rgba(255, 177, 59, 0.8);
    -webkit-box-shadow:4px 4px 4px rgba(255, 177, 59, 0.8);
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background: rgb(255, 55, 55);
    z-index: 220;
}

.atombomba {
    mix-blend-mode: screen;
    filter: contrast(1.1) saturate(1.2) brightness(1.1);
    position: absolute;
    z-index: 256;
    width: 256px;
}

/*--------- BOUNTY  --------*/
.bnty_container{
    position: absolute;
    height: 100px;
    width: 116px; 
    min-width: 116px;
    z-index: 220;
    overflow: visible;
}
.bnty_main_img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.bnty_hp_indicator{
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    width: 80px;
    height: 8px;    
    z-index: 220;
}

.bnty_hp_fill{
    width: 100%; 
    height: 100%;
    background-color: #1dfe24;  
    transform-origin: left; 
}

.bnty_hp_fill.low-health {
    background-color: #FFC107; 
}
  
.bnty_hp_fill.critical-health {
    background-color: #f5493d; 
}

.bnty_dmg_img{
    position: absolute;
    height: 20px;
    z-index: 230;
}    
